<div class="container" %>
	<%if current_user %>
		<%if current_user.role == "admin" %>
			<div class="form-horizontal">
				<center><h2 class="text-danger">Category</h2></center>
					
						<%= form_for @category do |c| %>
							<div class="form-group">
								<%= c.label :name,class:"control-label col-sm-2" %>
							<div class="col-sm-8">
								<%= c.text_field :name,class:"form-control" %>
							</div>		
							</div>
								<%= c.submit "Save category",class:"btn btn-sm btn-info col-sm-offset-2" %>
						<% end %><br/>
						<%= link_to "All caterogies",categories_path,class:"btn btn-sm btn-info col-sm-offset-2" %>
				
			</div>
		<%else%>
			<h2><%= "Sorry, You can't create new category...." %></h2>
		<% end %>
	<% end %>

	<% if @category.errors.present? %>
		    <div id="error_explanation">
		      <h3 class="text-danger">
		        <%= pluralize(@category.errors.count, "error") %> prohibited
		        this article from being saved:
		      </h3>
		      
		      <ul>
		        <% @category.errors.full_messages.each do |msg| %>
		          <div class="alert alert-danger">
		          	<li><%= msg %></li>
		          </div>
		        <% end %>
		      </ul>
		    
		    </div>
  		<% end %>

</div>